<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fire">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.fire.Squat"></activity>
        <activity android:name="com.example.fire.Situp" />
        <activity android:name="com.example.fire.Backbends" />
        <activity android:name="com.example.fire.Pushups" />
        <activity android:name="com.example.fire.Notifications" />
        <activity android:name="com.example.fire.Settings" />
        <activity android:name="com.example.fire.Insights" />
        <activity android:name="com.example.fire.Exercises" />
        <activity android:name="com.example.fire.Profile" />
        <activity android:name=".HomeNavigation" />
        <activity android:name="com.example.fire.Home" />
        <activity android:name="com.example.fire.Register"     android:theme="@style/Theme.AppCompat.Light.NoActionBar">   </activity>


        <activity android:name="com.example.fire.MainActivity"   android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>